body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box; /* contains in parent */
    margin: 0; /* removes default margin */
}

* {
    box-sizing: inherit; /* inherits "box-sizing: border-box" above for all elements */
    
    /* disable select */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.wrapper {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #D5D2CD;
    /* padding: 10px; /* note this adds padding around the footer */
}

.topnav {
  overflow: hidden;
  text-align: center;
}

/* CSS for hamburger icon */
.topnav .icon {
  display: none; /* set so icon does not display, turned on for mobile devices below */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  font-family: 'Roboto-serif', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 8em;
  color: black;
}

/* Change the color of topnav links on hover */
.topnav a:hover {
  background-color: #9C8B7E;
  color: white;
  font-size: 18px;
}

/* references default layout main */
main {
  background-color: #D5D2CD; /* main background color, doesnt effect wrapper, topnav, or footer */
  margin-left: auto;
  padding-left: 10px;
}

/* Footer CSS */
.footer {
    display: block;
    text-align: center;
    align-items: center;
    background-color: #9C8B7E;
    padding: 20px;
}

.footer div {
    padding: 10px;
}
  
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer ul li {
    display: inline-block;
    margin-right: 15px;
}
  
.footer p {
    margin: 0;
}
  
.footer a {
    text-decoration: underline;
    color: black;
    transition: color 0.3s; /* Smooth transition for color change */
}
  
/* Hover effect */
.footer a:hover {
    color: #D5D2CD; /* Change color on hover */
}
  
.footer i {
    margin-right: 10px;
}
  
.footer .copy {
    display: block;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) { /* mobile devices & tablets - screen width <= 768px */

    .topnav {
        display: block;
    }

    .topnav a:not(.icon) { /* all topnav links not with class 'icon' (all except hamburger icon) do not display before icon pressed */
      display: none;
    }
    
    .topnav .icon { /* icon now displays */
      float: right;
      display: block;
      cursor: pointer;
      padding: 14px 16px;
      color: black;
    }
  
    .topnav.responsive a.icon {
      background-color: #9C8B7E; /* sets the background color to contrast rest of links so users know its active */
      position: absolute;
      top: 0;
      right: 0;
    }
  
    .topnav.responsive a { /* topnav links including icon after icon pressed */
      float: none;
      display: block;
      text-align: left;
    }

    .topnav.responsive .name { /* hides name/logo link in topnav menu */
        display: none;
    }
  
    .topnav.responsive a:not(.icon) { /* topnav links NOT including icon after icon pressed */
      width: 70%;
      text-align: center;
    }
  
    .footer .icons { /* Footer icons now stack in a column instead of being smushed together */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }

}