<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    {% include imports.html %}

    {% include favicon.html %}

  </head>
  <body>
    <div class="wrapper">
        {% include navigation.html %}
        <br>
        <main aria-label="Content">
            {{ content }}
        </main>
        <br>
        {% include footer.html %}
    </div>
  </body>
</html>
<script>

  // Toggle menu on mobile devices
  function toggleMenu() {
      var topnav = document.querySelector(".topnav");
      topnav.classList.toggle("responsive");
  }

</script>